body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 100%, 74%);
  background-image: url(./img/bg-intro-desktop.png);
}

main {
  display: flex;
  flex-direction: row;
}

#leftBox {
  width: 50vw;
  padding: 300px 75px 0px 160px;
  color: white;
}

.vertically-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#header {
  text-align: justify;
}

#leftBox h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-justify: inter-word;
}

#rightBox {
  width: 50vw;
  padding: 120px 65px 0 0;
}

#try {
  width: 540px;
  margin-bottom: 24px;
  height: 58px;
  border: none;
  border-radius: 8px;
  background-color: hsl(248, 32%, 49%);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  box-shadow: 0 7px 0px 0px rgba(0, 0, 0, 0.2);
}

form {
  background-color: white;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 7px 0px 0px rgba(0, 0, 0, 0.2);
}

form div {
  width: 460px;
  margin-bottom: 20px;
}

form input {
  height: 10px;
  border-radius: 4px;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 20px 30px 20px 30px;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-weight: 500;
  width: 400px;
  outline: none;
}

form input:focus:valid {
  border-color: hsl(249, 10%, 26%);
}

.submitted {
  border: 2px solid hsl(0, 100%, 74%);
  background: url(./img/icon-error.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 420px 15px;
}

.error {
  color: hsl(0, 100%, 74%);
  text-align: end;
  margin-top: 10px;
  font-weight: 500;
  font-style: italic;
}

#claim {
  text-decoration: none;
  outline: none;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: hsl(154, 59%, 51%);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

#claim:hover {
  background-color: hsl(154, 77%, 58%);
}

#claim:visited {
  background-color: hsl(154, 77%, 58%);
}

form p {
  font-size: x-small;
  color: lightgray;
  margin: auto;
}

form p a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
    padding: 100px 23px 0px 23px;
    align-items: center;
  }

  .vertically-center {
    position: static;
    top: 0;
    -ms-transform: none;
    transform: none;
  }

  #leftBox {
    margin: auto;
    width: 328px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #leftBox h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  #leftBox p {
    font-size: 15px;
    line-height: 1.7;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #rightBox {
    width: 100vw;
    margin: 70px 0 70px 0;
    padding: 0;
  }

  #try {
    width: 328px;
    height: 88px;
    font-weight: normal;
    margin: 0 auto;
    display: block;
  }

  form {
    width: 278px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  form div {
    width: 278px;
    margin-bottom: 16px;
  }

  .error p {
    margin-left: 0;
  }

  form input {
    width: 240px;
    padding: 20px;
  }

  .submitted {
    border: 2px solid hsl(0, 100%, 74%);
    background: url(./img/icon-error.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 240px 15px;
  }

  #claim {
    width: 282px;
    margin-bottom: 15px;
  }

  #tms {
    text-align: center;
    padding-right: 26px;
    padding-left: 26px;
    line-height: 2;
  }
}
